## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

WARNING:tensorflow:From C:\Users\casmi\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN','NAME'], axis=1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
typecounts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = typecounts[typecounts.lt(500)].index
application_types_to_replace

Index(['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17'], dtype='object', name='APPLICATION_TYPE')

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classificationcounts = application_df['CLASSIFICATION'].value_counts()
classificationcounts[classificationcounts.gt(1)]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classificationcounts[classificationcounts.lt(1800)].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [10]:
application_df['STATUS'].value_counts()

STATUS
1    34294
0        5
Name: count, dtype: int64

In [11]:
application_df['SPECIAL_CONSIDERATIONS'].value_counts()

SPECIAL_CONSIDERATIONS
N    34272
Y       27
Name: count, dtype: int64

In [12]:
application_df = application_df.drop(['STATUS','SPECIAL_CONSIDERATIONS'], axis=1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1
...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,0,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,0,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,0,5000,0
34297,T5,Independent,C3000,ProductDev,Association,0,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1M-5M,36500179,0

In [13]:
affiliationcounts = application_df['AFFILIATION'].value_counts()
affiliationcounts

AFFILIATION
Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: count, dtype: int64

In [14]:
affiliations_to_replace = affiliationcounts[affiliationcounts.lt(1000)].index

# Replace in dataframe
for cls in affiliations_to_replace:
    application_df['AFFILIATION'] = application_df['AFFILIATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['AFFILIATION'].value_counts()

AFFILIATION
Independent         18480
CompanySponsored    15705
Other                 114
Name: count, dtype: int64

In [15]:
# Convert categorical data to numeric with `pd.get_dummies`
new_df = pd.get_dummies(application_df)
new_df

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,False,True,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,108590,1,False,False,False,True,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2,5000,0,False,False,False,False,False,True,False,False,...,False,True,False,False,False,False,False,False,False,False
3,6692,1,False,False,False,True,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
4,142590,1,False,False,False,True,False,False,False,False,...,True,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,False,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,False,False
34295,5000,0,False,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,False,False
34296,5000,0,False,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
34297,5000,1,False,False,False,False,False,True,False,False,...,False,True,False,False,False,False,False,False,False,False
34298,36500179,0,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [16]:
# Split our preprocessed data into our features and target arrays
X = new_df.drop(["IS_SUCCESSFUL"], axis='columns').values
y = new_df["IS_SUCCESSFUL"].values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    random_state=78)

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()
number_input_features = len(X_train[0])

# First hidden layer
nn.add(tf.keras.layers.Dense(units=60, activation="tanh", input_dim=number_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="tanh"))

#Third hidden layer
nn.add(tf.keras.layers.Dense(units=40, activation="tanh"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\casmi\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 60)                2280

 dense_1 (Dense)             (None, 80)                4880

 dense_2 (Dense)             (None, 40)                3240

 dense_3 (Dense)             (None, 1)                 41

=================================================================
Total params: 10441 (40.79 KB)
Trainable params: 10441 (40.79 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [19]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\casmi\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [20]:
print(X_train_scaled.shape)

(25724, 37)

In [21]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=150)

Epoch 1/150
WARNING:tensorflow:From C:\Users\casmi\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\casmi\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

804/804 [==============================] - 2s 1ms/step - loss: 0.5698 - accuracy: 0.7224
Epoch 2/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5572 - accuracy: 0.7294
Epoch 3/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5533 - accuracy: 0.7306
Epoch 4/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5515 - accuracy: 0.7314
Epoch 5/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5502 - accuracy: 0.7320
Epoch 6/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5489 - accuracy: 0.7316
Epoch 7/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7338
Epoch 8/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7348
Epoch 9/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5459 - accuracy: 0.7354
Epoch 10/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5455 - accuracy: 0.7352
Epoch 11/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7348
Epoch 12/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7359
Epoch 13/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7371
Epoch 14/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5432 - accuracy: 0.7364
Epoch 15/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7371
Epoch 16/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7370
Epoch 17/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7367
Epoch 18/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7371
Epoch 19/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7374
Epoch 20/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7375
Epoch 21/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7380
Epoch 22/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7379
Epoch 23/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7377
Epoch 24/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7385
Epoch 25/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7387
Epoch 26/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7396
Epoch 27/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7392
Epoch 28/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7393
Epoch 29/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7400
Epoch 30/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7397
Epoch 31/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7393
Epoch 32/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7400
Epoch 33/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7394
Epoch 34/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7397
Epoch 35/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7403
Epoch 36/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7408
Epoch 37/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7404
Epoch 38/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7405
Epoch 39/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7402
Epoch 40/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7410
Epoch 41/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7414
Epoch 42/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7413
Epoch 43/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7399
Epoch 44/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7413
Epoch 45/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7406
Epoch 46/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7407
Epoch 47/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7405
Epoch 48/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7409
Epoch 49/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7402
Epoch 50/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7407
Epoch 51/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7411
Epoch 52/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7415
Epoch 53/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7409
Epoch 54/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7409
Epoch 55/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7420
Epoch 56/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7412
Epoch 57/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7414
Epoch 58/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7414
Epoch 59/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7418
Epoch 60/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7413
Epoch 61/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7415
Epoch 62/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7414
Epoch 63/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7417
Epoch 64/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7419
Epoch 65/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7417
Epoch 66/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7419
Epoch 67/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7418
Epoch 68/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7412
Epoch 69/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7421
Epoch 70/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7411
Epoch 71/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7407
Epoch 72/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7422
Epoch 73/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7417
Epoch 74/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7420
Epoch 75/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7417
Epoch 76/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7414

Epoch 77/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7413
Epoch 78/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7420
Epoch 79/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7421
Epoch 80/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7423
Epoch 81/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7414
Epoch 82/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7420
Epoch 83/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7425
Epoch 84/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7416
Epoch 85/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7421
Epoch 86/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7420
Epoch 87/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7414
Epoch 88/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7414
Epoch 89/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7423
Epoch 90/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7416
Epoch 91/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7414
Epoch 92/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7419
Epoch 93/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7409
Epoch 94/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7418
Epoch 95/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7420
Epoch 96/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7423
Epoch 97/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7418
Epoch 98/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7420
Epoch 99/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7419
Epoch 100/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7426
Epoch 101/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7414
Epoch 102/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7416
Epoch 103/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7411
Epoch 104/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7414
Epoch 105/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7408
Epoch 106/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7415
Epoch 107/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7402
Epoch 108/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7407
Epoch 109/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7423
Epoch 110/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7406
Epoch 111/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7418
Epoch 112/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7415
Epoch 113/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7422
Epoch 114/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7417
Epoch 115/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7420
Epoch 116/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5332 - accuracy: 0.7412
Epoch 117/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7423
Epoch 118/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7415
Epoch 119/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7409
Epoch 120/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7419
Epoch 121/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7421
Epoch 122/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7417
Epoch 123/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7422
Epoch 124/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7419
Epoch 125/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7419
Epoch 126/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7421
Epoch 127/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7416
Epoch 128/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7411
Epoch 129/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7425
Epoch 130/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7421
Epoch 131/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7420
Epoch 132/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7411
Epoch 133/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7424
Epoch 134/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7425
Epoch 135/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5326 - accuracy: 0.7426
Epoch 136/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7409
Epoch 137/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7430
Epoch 138/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7401
Epoch 139/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5325 - accuracy: 0.7418
Epoch 140/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7425
Epoch 141/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7417
Epoch 142/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7418
Epoch 143/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7417
Epoch 144/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7409
Epoch 145/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7420
Epoch 146/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5322 - accuracy: 0.7421
Epoch 147/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7418
Epoch 148/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7423
Epoch 149/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7425
Epoch 150/150
804/804 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7418

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5588 - accuracy: 0.7257 - 369ms/epoch - 1ms/step
Loss: 0.5587595105171204, Accuracy: 0.7257142663002014

In [23]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_optimization2.h5')

C:\Users\casmi\anaconda3\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(